/*
 * Title: default
 * Comment: ‚Ð‚Æ‚èWiki•W€CSS
 * Version: 1.4.0
 * Author: MAS
 * Access: http://www2u.biglobe.ne.jp/~MAS/
 * License: CC BY(http://creativecommons.org/licenses/by/3.0/)
 */

body, input, select, textarea {
  font-family:'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','ƒƒCƒŠƒI',Verdana,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
}
a:link {
  color:blue;
}
a:visited {
  color: purple;
}
a:active {
  color: red;
}
a:hover {
  color: red;
}
a.footnote {
  text-decoration: none;
}
a.footnote:visited {
  color: darkred;
}
a.footnote:hover {
  color: red;
}
blockquote {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: gray;
  background: whitesmoke;
  margin-left: 1.5em;
  padding: 0.5em;
}
body {
  color: black;
}
div.center {
  text-align: center;
}
div.footer {
  text-align: right;
}
div.footnote {
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: gray;
  margin-top: 2em;
  padding: 5px;
}
div.ascii-art{
  font-size: 12pt;
  line-height: 18px;
  font-family: "Mona", "IPA MONAPGOTHIC", "MS PGothic", "‚l‚r ‚oƒSƒVƒbƒN", "MS PºÞ¼¯¸", "MS PƒSƒVƒbƒN", sans-serif;
}
div.left {
  margin-left: 0.7em;
  text-align: left;
}
div.right {
  text-align: right;
}
dd {
  margin-top: 2px;
  margin-bottom: 4px;
}
dl {
  margin-left: 0.7em;
}
dt {
  border-style: dashed;
  border-color: gray;
  border-width: 0 0 1px 0;
}
h1 {
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: darkblue;
  padding: 4px;
  background-color: aliceblue;
  font-size: 150%;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
}
h2 {
  border-style: solid;
  border-width: 1px 1px 1px 10px;
  border-color: green;
  padding: 4px 0 3px 10px;
  background-color: mintcream;
  font-size: 150%;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}
h3 {
  border-style: solid;
  border-width: 0 0 1px 10px;
  border-color: darkblue;
  padding: 4px 0 3px 10px;
  font-size: 100%;
  font-weight: normal;
}
img {
  border-style: none;
}
li > p {
  margin-left: 0;
  text-indent: 0;
}
ol.list1 {
  list-style-type: decimal;
}
ol.list2 {
  list-style-type: lower-roman;
}
ol.list3 {
  list-style-type: lower-alpha;
}
p {
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  margin-left: 0.7em;
}
p.hatena {
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  text-indent: 1em
}
pre {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: lightsteelblue;
  margin-left: 0.7em;
  padding: 0.5em;
}
pre.inlist{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: dotted;
}
span.footnote {
  font-size: 75%;
  vertical-align: super;
}
span.footnote_caption {
  font-size: 80%;
  margin-left: 0.25em;
}
span.marker {
  background-color: #ffff00;
}

span.newlink-name {
  color: red;
}

table {
  margin: 0.7em;
  border-collapse: collapse;
  border-style: solid;
  border-width: 2px;
  border-color: darkblue;
}
td {
  border-style: solid;
  border-width: 1px;
  padding: 3pt;
  vertical-align: top;
}
td.center {
  text-align: center;
}
td.right {
  text-align: right;
}
th {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
  padding: 3pt;
  vertical-align: top;
}
ul.list1 {
  list-style-type: disc;
}
ul.list2 {
  list-style-type: circle;
}
ul.list3 {
  list-style-type: square;
}

/* menubar */
div.body {
  position: relative;
}

div.main {
  margin-left: 165px;
  padding: 0 0 0 5px;
}

div.menubar {
  font-size: 90%;
  position: absolute;
  top: 0;
  width: 150px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
}

div.menubar ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.main2 {
  width: 75%;
  float: right;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
}

div.menubar2 {
  font-size: 90%;
  width: 24%;
  float: left;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
}

/* table of contents */

div.toc a {
  color: #668ad8;
  text-decoration: none;
}

div.toc a:hover {
  color: red;
}

div.toc ul.toc-1 {
  color: #668ad8;
  border: dashed 2px #668ad8;
  background: aliceblue;
  font-size: 90%;
  padding: 0.5em 0.5em 0.5em 2em;
  margin: 1em;
}

div.toc ul li {
}
